// Color system

// theme-color-variables
$primary: #0a431b;
$secondary: #9bcfb8;
$success: #7fb174;
$info: #689c97;
$light: #f8f9fa;
$warning: #dc5a4a;

$link-hover-color: $info;

// font
$font-size-base: 1rem;

$h1-font-size: $font-size-base * 2.5 !default;
$h2-font-size: $font-size-base * 2 !default;
$h3-font-size: $font-size-base * 1.75 !default;
$h4-font-size: $font-size-base * 1.5 !default;
$h5-font-size: $font-size-base * 1.25 !default;
$h6-font-size: $font-size-base !default;
$h7-font-size: $font-size-base * 0.875 !default;
$h8-font-size: $font-size-base * 0.75 !default;


$font-sizes: (
  1: $h1-font-size,
  2: $h2-font-size,
  3: $h3-font-size,
  4: $h4-font-size,
  5: $h5-font-size,
  6: $h6-font-size,
  7: $h7-font-size,
  8: $h8-font-size
) !default;


